{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'fav/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'inventory_stock.css' %}">
    <title>View Stock</title>
</head>
<style> 
  .imgcontainer{ 
    margin-left: auto; 
    margin-right: auto;
  }
</style>
<body>

    <div class="main_container">  

        <a href="{% url 'home' %}">
          <button type="submit" id="btn_back" name="home">
            <img src="{% static 'back_arrow.png' %}" id="btn_back_img" alt="back arrow">
            <p id="back_text">Back</p>
          </button>
        </a> 
      
        <div class="imgcontainer">
          <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar"/>
        </div>
        
        <div id="btn_top">
        <div id="filter_container"> 
          <form action="" method="POST">
            {% csrf_token %}
            <button class="btn_filter" type="submit" name="ShowAll" value="0">Show All</button> 
            <button class="btn_filter" type="submit" name ="InStock" value="1">In Stock</button>
            <button class="btn_filter" type="submit" name="OutOfStock" value="2">Out Of Stock</button> 
          
            <!-- dropdown menu -->
            <span id="dropdown">
              <button class="dropbtn">Modify item</button>
              <div class="dropdown-content">
                <a class="button" href="#popup1">Edit Item</a>
                <a class="dropdown_options" href="#popup2">Remove Item</a>
                <a class="dropdown_options" href="#popup3">Add Item</a>      
            </div>
          </span>
          
          </form>
           

        </div> 
      </div> 
          <table>
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Product Name</th>
                  <th>Quantity</th> 
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                {% for product_name,product_amount,product_serial,product_location,role in items %} 
                {% if product_name != None %}
                <tr>
                  <td>{{ product_serial }}</td> 
                  <td>{{ product_name }}</td> 
                      {% if product_amount < 5 %}
                      <td id = 'aboutToRunOut'>{{ product_amount }}</td> 
                      {% else %} 
                      <td>{{product_amount}}</td> 
                      {% endif %} 
                      <td>{{ product_location }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
            </tbody>  
            </table>  

            <div id="popup1" class="overlay">
              <div class="popup">
                <h2>Edit Item</h2>
                <p>Enter Serial Number and edit the fields you would like.</p>
                {% if error %}
                  <p style="color: red;">{{error}}</p> 
                {% endif %}
                <a class="close" href="{% url 'inventory_stock_Manager' %}">&times;</a>
                <div class="content">
                  <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="fill_fields"> 
                        <h3>Serial:</h3><input 
                        type="number"
                        class="fields"
                        placeholder="Enter Serial Number"
                        name="serial_number"
                        required> 
                    </div>
                    <div class="fill_fields"> 
                      <h3>Product Name:</h3><input 
                      type="text"
                      class="fields"
                      placeholder="Enter Product Name"
                      name="product_name"
                     >
                  </div>
                  <div class="fill_fields"> 
                    <h3>Quantity:</h3><input 
                    type="number"
                    class="fields"
                    placeholder="Enter Quantity"
                    name="quantity"
                   >
                </div>
                <div class="fill_fields"> 
                  <h3>Location:</h3><input 
                  type="text"
                  class="fields"
                  placeholder="Enter Location"
                  name="product_location"
                 >
              </div>
              <div id="btn_save_container"> 
                <button id="btn_save" type="submit" name="btn_save_edit" >Save</button>
            </div> 
            
                  </form>
                </div>
              </div>
            </div>

            <div id="popup2" class="overlay">
              <div class="popup">
                <h2>Remove Item</h2>
                <p>Enter the Serial Number of the product you would like to delete.</p>
                    {% if error %} 
                    <p style="color: red;">{{error}} </p> 
                    {% endif %}
                <a class="close" href="{% url 'inventory_stock_Manager' %}">&times;</a>
                <div class="content">
                  <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="fill_fields"> 
                        <h3>Serial:</h3><input 
                        type="number"
                        class="fields"
                        placeholder="Enter Serial Number"
                        name="serial_number"
                        required> 
                    </div>
                    
                    <div id="btn_save_container"> 
                      <button id="btn_save" type="submit" name="btn_remove_edit" >Remove</button>
                    </div> 
            
                  </form>
                </div>
              </div>
            </div> 

            <div id="popup3" class="overlay">
              <div class="popup">
                <h2>Add New Item</h2>
                <p>Fill in all the fields to save a new product.</p>
                {% if error %}
                  <p style="color: red;">{{error}}</p> 
                {% endif %}
                <a class="close" href="{% url 'inventory_stock_Manager' %}">&times;</a>
                <div class="content">
                  <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="fill_fields"> 
                        <h3>Serial:</h3><input 
                        type="number"
                        class="fields"
                        placeholder="Enter Serial Number"
                        name="serial_number"
                        required> 
                    </div>
                    <div class="fill_fields"> 
                      <h3>Product Name:</h3><input 
                      type="text"
                      class="fields"
                      placeholder="Enter Product Name"
                      name="product_name"
                      required
                     >
                  </div>
                  <div class="fill_fields"> 
                    <h3>Quantity:</h3><input 
                    type="number"
                    class="fields"
                    placeholder="Enter Quantity"
                    name="quantity"
                    required
                   >
                </div>
                <div class="fill_fields"> 
                  <h3>Location:</h3><input 
                  type="text"
                  class="fields"
                  placeholder="Enter Location"
                  name="product_location"
                  required
                 >
              </div>
              <div class="fill_fields"> 
                <h3>Consumable:</h3><input 
                type="radio"
                class = 'radio'
                name = 'consumable'
                value="1"
                required
               >
               <label for="consumable">Yes</label>
               <input 
                type="radio"
                class = 'radio'
                name = 'consumable'
                value="0"
                required
               >
               <label for="consumable">No</label>
            </div>
              <div id="btn_save_container"> 
                <button id="btn_save" type="submit" name="btn_save_new" >Save</button>
            </div> 
            
                  </form>
                </div>
              </div>
            </div>
            
            <div id="banner"><h3>ADYSH</h3></div>
        </div>
        </body>

</html>






