{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'inventory_stock.css' %}">
    <title>View Stock</title>
</head>
<body>
     
  
    <div class="main_container">
        <div class="imgcontainer">
          <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
        </div>
        
        <div id="btn_top">

        <div id="filter_container"> 
          <form action="" method="POST">
            {% csrf_token %}
            <button class="btn_filter" type="submit" name="ShowAll" value="0">Show All</button> 
            <button class="btn_filter" type="submit" name ="InStock" value="1">In Stock</button>
            <button class="btn_filter" type="submit" name="OutOfStock" value="2">Out Of Stock</button> 
          </form>
           <!-- dropdown menu -->
            <span id="dropdown">
              <button class="dropbtn">Modify item</button>
              <div class="dropdown-content">
                <a class="button" href="#popup1">Edit Item</a>
                <a class="dropdown_options" href="#">Link 2</a>
                <a class="dropdown_options" href="#">Link 3</a> 
                
            </div>
          </span>
        </div> 
      </div> 
          <table>
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Product Name</th>
                  <th>Quantity</th> 
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                {% for product_name,product_amount,product_serial,product_location,role in items %} 
                {% if product_name != None %}
                <tr>
                  <td>{{ product_serial }}</td> 
                  <td>{{ product_name }}</td> 
                      {% if product_amount < 5 %}
                      <td id = 'aboutToRunOut'>{{ product_amount }}</td> 
                      {% else %} 
                      <td>{{product_amount}}</td> 
                      {% endif %} 
                      <td>{{ product_location }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
            </tbody>  
            </table>  

            <div id="popup1" class="overlay">
              <div class="popup">
                <h2>Edit Item</h2>
                <p>Enter Serial Number and edit the fields you would like.</p>
                <a class="close" href="#">&times;</a>
                <div class="content">
                  <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="fill_fields"> 
                        <h3>Serial:</h3><input 
                        type="number"
                        class="fields"
                        placeholder="Enter Serial Number"
                        name="serial_number"
                        required>
                    </div>
                    <div class="fill_fields"> 
                      <h3>Product Name:</h3><input 
                      type="text"
                      class="fields"
                      placeholder="Enter Product Name"
                      name="product_name"
                     >
                  </div>
                  <div class="fill_fields"> 
                    <h3>Quantity:</h3><input 
                    type="number"
                    class="fields"
                    placeholder="Enter Quantity"
                    name="quantity"
                   >
                </div>
                <div class="fill_fields"> 
                  <h3>Location:</h3><input 
                  type="text"
                  class="fields"
                  placeholder="Enter Location"
                  name="product_location"
                 >
              </div>
              <div id="btn_save_container"> 
                <button id="btn_save" type="submit" name="btn_save_edit" >Save</button>
            </div>
                  </form>
                </div>
              </div>
            </div>
            
            <div id="banner"><h3>ADYSH</h3></div>
        </div>
        </body>
</html>