{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'fav/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'inventory_stock.css' %}">
    <title>Stock Page</title>
<head> 
  
  <body>
    
  
    <div class="main_container">
      
      <!-- back button -->
      <a href="{% url 'home' %}">
        <button type="submit" id="btn_back">
          <img src="{% static 'back_arrow.png' %}" id="btn_back_img" alt="back arrow">
          <p id="back_text">Back</p>
        </button>
      </a> 
      <!-- SCE Logo -->
      <div class="imgcontainer">
        <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar"/>
      </div>
      
      
      <div id="filter_container"> 
        <form action="" method="POST">
          {% csrf_token %}
          <button class="btn_filter" type="submit" name="ShowAll" value="0">Show All</button> 
          <button class="btn_filter" type="submit" name ="InStock" value="1">In Stock</button>
          <button class="btn_filter" type="submit" name="OutOfStock" value="2">Out Of Stock</button>
      
      </div> 
      <!-- Table for academic staff members -->
        
        <table>
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for product_name,product_amount,role in items %} 
              {% if product_name != None %}
              <tr>
                <td>{{ product_name }}</td> 
                    {% if product_amount < 5 %}
                    <td id = 'aboutToRunOut'>{{ product_amount }}</td> 
                    {% else %} 
                    <td>{{product_amount}}</td> 
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
          </table> 
     
          
         
          <div id="banner"><h3>ADYSH</h3></div>
      </div>
    </form>

     
</body>
</html>