{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'fav/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'styles.css' %}" /> 
    <link rel="stylesheet" href="{% static 'main_Student.css' %}">
    
    <title>Main Page</title>
  </head>

  <style> 

    #tab_text{ 
      font-weight: 700;
      font-size: 24px; 
    } 
    #logoutbtn{ 
      padding-top: 12px;
      bottom: 45px;
      right: 40px;
      position: absolute;
      font-size: 14px;
    } 
    
    </style>
  
  <body>  
    <div class="nav-header">
      <header class="navbar"> 
        
        <a href="{% url 'logout' %}">
          <span>
          <button type="submit" id="logoutbtn">
            <p>Logout</p>
          </button> 
        </span>
        </a>
        
        <span id="user_details">Connected as: <br> {{full_name}} <br> Student</span>

      <span class="imgcontainer">
        <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
      </span>
    </header>
  </div> 

  <!-- Notification button --> 
  <div class="box">
    <a class="button" href="#popup1"><img src="{% static 'notification_icon.png' %}" id="notification_icon" alt="bell icon"></a>
  </div>
  
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Notification Center</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        {% if request.session.notify %} 
    <table>
    <tbody>
        {% for key,value in request.session.notify.items %} 
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>   
            </tr>  
        {% endfor %}  
        {% else %} 
        <tr> 
          <span>There are no new notifications</span>
        </tr>
    </tbody>
    </table>  
{% endif %}
      </div>
    </div>
  </div> 
  <!-- End of notification button -->

    <div class="container">
      <a href = "{% url 'student_courses' %}">
      <div class="tab"><h2 id="tab_text">My Courses</h2></div></a>
      <a href= "{% url 'student_ordering' %}">
      <div class="tab"><h2 id="tab_text">New Order Request</h2></div></a>
      <a href = "{% url 'pickup' %}">
      <div class="tab"><h2 id="tab_text">Pickup</h2></div></a>
    </div>

    {% if msg %}
    <div class="alert">
      <h3>{{msg}}</h3>
      <span class="alertCloseBtn" onclick="this.parentElement.style.display='none';">ok</span> 
    </div>
      {% endif %}

    <div id="banner"><h3>ADYSH</h3></div> 
    

  </body>
</html>







