{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Main Page</title>
</head> 
<body> 
  <a href="{% url 'logout' %}"
      ><button type="submit" id="logoutbtn">
        <p>Logout</p>
      </button>
    </a>    

    <br>
    <div id="user_details">Connect as: {{full_name}}</div>
    
    <div class="imgcontainer">
      <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
    </div>
    <div class="container">
      <a href = "{% url 'inventory_stock_ASM' %}">
      <div class="tab"><h2 id="tab_text">Inventory Stock</h2></div></a>
      <a href = "{% url 'submit_an_order_ASM' %}">
      <div class="tab"><h2 id="tab_text">Submit An Order</h2></div>
      <div class="tab"><h2 id="tab_text">Publish Requierments</h2></div>
    </div>
    <div id="banner"><h3>ADYSH</h3></div> 
  
</body>
</html> 

