{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'fav/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'create_user.css' %}" /> 
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Main Page</title>
</head>  
<style> 

#tab_text{ 
  font-weight: 700;
  font-size: 24px; 
} 
#logoutbtn{ 
  padding-top: 12px;
  bottom: 45px;
  right: 40px;
  position: absolute;
  font-size: 14px;
} 

</style>

<body>
  
  <div class="nav-header">
    <header class="navbar">
      <a href="{% url 'logout' %}">
        <span>
        <button type="submit" id="logoutbtn">
          <p>Logout</p>
        </button> 
      </span>
      </a>
      
      <span id="user_details">Connected as: <br> {{full_name}} <br> Warehouse Manager</span>

    <span class="imgcontainer">
      <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
    </span>
  </header>
</div>

    {% if msg %}
    <div class="alert">
      <span class="alertCloseBtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{msg}}
    </div>
      {% endif %}
      
    <div class="container">
      
      
      <div class="tab"><a href="{% url 'inventory_stock_Manager' %}"><h2 id="tab_text">Manage Inventory</h2></a></div>
      
      
      
      <div class="tab" ><h2 id="tab_text">Manage Orders</h2></div>
      <div class="tab" type="button" data-bs-toggle="modal" data-bs-target="#manageUsers"><h2 id="tab_text">Manage Users</h2></div></button>

      <div class="tab" > <a href="{% url 'pickup_schedule' %}"><h2 id="tab_text">PickUp Schedule</h2></a></div>
    </div>
    <div id="banner"><h3>ADYSH</h3></div>

<!--User Management Modal -->
<div class="modal fade" id="manageUsers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="manageUsersLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="manageUsersLabel">User Management</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="margin: auto;" class="modal-body">
        <!--Create User Button-->
        <div style="width:100%;" id="select_button" class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#CreateUser"><h3 class="fs-2">Create User</h3></div>
        <br><br>
        <!--Remove User Button-->
        <div style="width:100%;" id="select_button" class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#RemoveUser"><h3 class="fs-2">Remove User</h3></div>
        <br>
      </div>
    </div>
  </div>
</div>
<!--User Management Modal -->

<!--Create User Modal-->
<div class="modal fade" id="CreateUser" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createUserLabel">Create new user:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="create_form" class ="create_form" action="{% url 'create_user' %}" method="POST" onsubmit="submitBtn.disabled=true; submitBtn.value='Creating User...'">
        {% csrf_token %}
        <div class="modal-body">

          <!--First name text input-->
          <label for="fname">First name:</label>
          <input class="text-input" type="text" id="fname" name="fname" required><br>

          <!--Last name text input-->
          <label for="lname">Last name:</label>
          <input class="text-input" type="text" id="lname" name="lname" required><br>

          <!--ID text input--> 
          <label for="id">ID:</label>
          <input class="text-input" type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" id="id" name="id" minlength="9" maxlength="9" required><br>

          <!--Email text input-->
          <label for="email">Email:</label>
          <input class="text-input" type="email" id="email" name="email" required><br>

          <!--Password text input-->
          <label for="password">Password:</label>
          <input class="text-input" type="text" id="password" name="password" minlength="6" required><br>

          <!--Role select option input-->
          <label>User role:</label><br>
          <select style="width:100%;" id="role" name="role" onchange="displayDiv('course_select', this)">
            <option value="1">Student</option>
            <option value="3">Academic Staff Member</option>
            <option value="2">Warehouse Manager</option>
          </select><br>

          <!--Selecting Courses for Student-->
          <div id="course_select">
            <label>Student Courses:</label><br>
            <div class="course_select">
              {% for k, v in courses.items %}
              {% if v is None %}
              {%else%}
              <input class="course_checkbox" type="checkbox" id="courses[]" name="courses" value="{{k}}"></input>
              <label class="course_label">{{k}}</label>
              <br>
              {%endif%}
              {% endfor %}
            </div>
          </div><br>

          <script>
            function displayDiv(id, elementValue) {
               document.getElementById(id).style.display = elementValue.value == "1" ? 'block' : 'none';
            }
         </script>

          <!--Submit to create new user-->
          <input type="submit" name="submitBtn" value="Create User" class="submit_button"/>

        </div>
      </form>
    </div>
  </div>
</div>
<!--Create User Modal-->

<!--Remove User modal-->
<div class="modal fade" id="RemoveUser" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeUserLabel">Remove user</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class ="create_form" action="{% url 'delete_user' %}" method="POST" onsubmit="removeBtn.disabled=true; removeBtn.value='Removing User...'">
        {% csrf_token %}
        <div class="modal-body">
          <div><h3>Email of user:</h3></div>
          <input class="text-input" type="email" id="email" name="email" required><br>

          <input id="removeBtn" type="submit" class="submit_button" value="Remove User" onclick="return confirm('Are you sure you want to remove this user?')"></input>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>