{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'ordering_existing_items_ASM.css' %}">
        <title>Order Exist item</title>
    
      <!-- back button -->
          <a href="{% url 'home' %}">
            <button type="submit" id="btn_back">
              <img src="{% static 'back_arrow.png' %}" id="btn_back_img" alt="back arrow">
              <p id="back_text">Back</p>
            </button>
          </a> 
          <!-- SCE Logo -->
          <div class="imgcontainer">
            <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar"/>
          </div>
      </head>
      
          
    <body>
    
  
        <div class="main_container">
          
  
      
          <table>
            <thead>
              <tr>
                <th>Order Amount</th>
                <th>Quantity</th>
              
                
                
              </tr>
            </thead>
            <tbody>
              <form id="req_form" class ="req_form" action="{% url 'ordering_existing_items_request' %}" method="POST" onsubmit="submitBtn.disabled=true; submitBtn.value='Sending Request...'">
                {% csrf_token %}
                {% for product_name,product_amount in items %} 
              <!-- {% if product_name != None %} -->
              <tr>
                       <td><label for="Name"></label>
                    <input class="reqBox" type="checkbox" id="reqBox[]" value="{{product_name}}" name="reqBox" />{{product_name}}
                        
                    <input class="Amount" id="Amount[]" name="Amount" type="number" min="" max=50 />
                     <td>{{product_amount}}</td> 
                </tr>
                <!-- {% endif %} -->
                {% endfor %}
            </tbody>
          </table> 
          <button class="btn_filter" type="submit" name="Send Request" value="submit the order" onclick="return confirm('Your order submit successfully!')"></input>
          </div>>Send Request</button>
         
          <div id="banner"><h3>ADYSH</h3></div>
      </div>
    </form>

</body>
</html>
     
          