{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'inventory_stock.css' %}">
    <title>pickup</title>
<head> 
  
  <body>
    
  
    <div class="main_container">
      
      <!-- back button -->
      <a href="{% url 'home' %}">
        <button type="submit" id="btn_back">
          <img src="{% static 'back_arrow.png' %}" id="btn_back_img" alt="back arrow">
          <p id="back_text">Back</p>
        </button>
      </a> 
      <!-- SCE Logo -->
      <div class="imgcontainer">
        <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar"/>
      </div>
      <div>
        <form method="POST" action=" {% url 'pickup' %}">
          {% csrf_token %}
          <select name="days", id="days">
            {% for day in days_list %} 
              <option value="{{day}}">{{ day }}</option>
            {% endfor %}
          </select>
          <button id="submit-button" type="submit" formaction="#popup1">Submit</button>  
      </div>
      
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Select hour</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            {% if request.session.hours_list %} 
            <form method="POST" action=" {% url 'home' %}">
              {% csrf_token %}
              <select name="hour", id="hour">
                {% for h in request.session.hours_list %} 
                  <option value="{{h}}">{{ h }}</option>
                {% endfor %}
              </select>
              <button id="submit-button" type="submit" formaction=" {% url 'pickup' %}">Submit</button>  
            </form>
            {% else %} 
            <tr> 
              <span>There are no available hours at specific date</span>
            </tr> 
            {% endif %}
          </div>
        </div>
      </div> 
        <!-- <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Hour</th>
              </tr>
            </thead>
            <tbody>
              
              <form method="POST" action=" {% url 'pickup' %}">
              {% csrf_token %}
              {% for day,hours in items %} 
              <tr>
                <td>{{ day }}</td>
                <td>
                  <select name="hour", id="hour">
                    {% for h in hours %}
                      <option value="{{day}}/{{h}}">{{ h }}</option>
                    {% endfor %}
                  </select>
                  <button id="submit-button">Submit</button>
                </td>    
              </tr>
              {% endfor %}
              </form> 
            </tbody>
        </table>  -->
         
      <div id="banner"><h3>ADYSH</h3></div>
    </div> 
  </body>
</html>