{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'fav/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'student_courses.css' %}">
    <title>My Courses</title>
<head> 
    <body>  
        <a href="{% url 'home' %}"
          ><button type="submit" id="menubtn">
            <p>Menu</p>
          </button>
        </a>  
  <body>
    
    <div class="main_container">
      <div class="img_container">
        <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
      </div>
      
        <table>
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Requiermants (pdf file)</th>
              </tr>
            </thead>
            <tbody>
              {% for course,signed_url in items %} 
                    {% if course != None %}
                        <tr>
                            <td>{{ course }}</td>
                            <td><a href="{{signed_url}}">Download file
                            </a></td> 
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
            </table> 
          <div id="banner"><h3>ADYSH</h3></div>
      </div>
    </form>

</body>
</html>