{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device_width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'submit_an_order_ASM.css' %}">
    <title>Submit Order Page</title>
</head>

    <body>
            <div class="main_container">
                </div class="imagcontainer">
                    <img src="{% static 'SCE_logo.png' %}" alt="Avatar" class="avatar" />
                </div>
                <div id="button_container">
                    <form action="" method="POST">  
                        {% csrf_token %}
                        <button class="btn_filter" type="submit" name="Order existing items" value="0"> Order existing items</button>
                        <button class="btn_filter" type="submit" name="Order new items" value="1"> Order new items</button>
                        <button class="btn_filter" type="submit" name="Order status" value="2"> Order status</button>
                    </form>   
                </div>
            </div>
            <div id="banner"><h3>ADYSH</h3></div>
    </body>