.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.submit_button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit_button:hover {
    background-color: #45a049;
}

.create_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.course_select {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  background-color: white;
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  overflow: auto;
  border: 1px solid #ccc;
  scroll-padding: 0;
}

.course_checkbox {
  float: right;
  width: 15px;
  height: 15px;
}
.course_label {
  float: right;
  font-size: 15px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.course_remove {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  background-color: white;
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  overflow: auto;
  border: 1px solid #ccc;
  scroll-padding: 0;
}