.imgcontainer {       
    text-align: center;
    margin-top: 16px;
    display:block;
    justify-content: center;
}    
#btn_back{ 
    margin-left: 8px;
    display: inline; 
    background-color: rgb(236, 234, 234);
    cursor: pointer;
    flex-shrink: 10px;
}   
body{ 
    background-color: rgb(236, 234, 234);
}


table th, td {
    border: 1px solid; 
    height: 60%; 
    
}  
tr, td{ 
    padding: 20px; 

} 
.main_container{ 
    padding-top: 8px;
    margin-top: 32px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: whitesmoke; 
    width: 70%; 
    height: 100%;
}
table{  
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
}


.btn_filter{ 
    display: inline; 
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    margin:auto;
    text-align: center;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
} 
