.imgcontainer {       
    text-align: center;
    margin-top: 5px;
    display:block;
 
}    

#btn_back{ 
    margin-left: 8px;
    display: inline; 
    border: none; 
    background-color: rgb(236, 234, 234);
    cursor: pointer;
} 

#btn_back_img{ 
    width: 30px; 
    display: inline-block;
    vertical-align: middle; 
    height: 30px;   
}
#back_text{   
    display: inline;
    margin-top: -5px;
} 
body{ 
    background-color: rgb(236, 234, 234);
}


table th, td {
    border: 1px solid; 
    height: 60%; 
    
}  
tr, td{ 
    padding: 20px; 

} 
 .main_container{ 
    position: relative;
    margin-top: 100px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: whitesmoke; 
    width: 90%; 
    height: 100%;
} 
table{  
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
}


.btn_filter{ 
    width: auto;
    height: auto; 
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    margin:auto;
    text-align: center;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
} 
#banner {
    text-align: center;
    margin-top: 60px;
    
  } 