body{ 
    background-color: rgb(236, 234, 234);
}
.imagcontainer {
    text-align: center;
    margin: 0 0 32px 0;
    position: relative;
    display: flex;
    justify-content: center; 
   
  }

table th, td {
    border: 1px solid; 
    height: 60%; 
    
}  
tr, td{ 
    padding: 20px; 

} 
.main_container{ 
    padding-top: 8px;
    margin-top: 32px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: whitesmoke; 
    width: 70%; 
    height: 100%;
}
table{  
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
}

.btn_filter{ 
    display: inline; 
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
} 