
body{ 
    background-color: rgb(236, 234, 234);
}
.img_container {
    width:25%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
  }

table th, td {
    border: 1px solid; 
    height: 40%; 
    
}  
tr, td{ 
    padding: 8px; 

} 
.main_container{ 
    padding-top: 8px;
    margin-top: 32px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: whitesmoke; 
    width: 70%; 
    height: 550px;
}
table{  
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
}

#menubtn{
    background-color: rgba(255, 255, 255, 0.47); 
    border: none; 
    width: 70px; 
    height: 35px; 
    border-radius: 5px; 
    text-align: center;
    vertical-align: baseline;
    line-height: 5px;
    margin-top: 12px; 
    margin-left: 8px; 
    font-weight: bold; 
    cursor: pointer;
    transition: width 0.2s linear;   
    display: inline;
} 
  
#menubtn:hover{  
    font-weight: 800;
    opacity: 0.8; 
    width: 80px; 
    height: 35px; 
}