
body{ 
    background-color: rgb(236, 234, 234);
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 32px 0;
    display: flex;
    justify-content: center;
  }

table th, td {
    border: 1px solid; 
    height: 40%; 
    
}  
tr, td{ 
    padding: 8px; 

} 
.main_container{ 
    padding-top: 8px;
    margin-top: 32px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: whitesmoke; 
    width: 70%; 
    height: 550px;
}
table{  
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
}