.imgcontainer {       
    text-align: center;
    margin-top: 5px;
    display:block;
    justify-content: center;
}    
body{
    background-color: rgb(236, 234, 234);
}


form{

  
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
#button_container{
    margin-top: 64px;
    text-align: center;
    width: 70%;

    height: 90%;
    margin-left: auto;
    margin-right: auto;
 } 
  
    

.btn_filter {
    display:inline;
    background-color: #4CAF50; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 60px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    margin-top: 200px;
  }
  
  #banner {
    text-align: center;
    margin-top: 60px;
  } 

  #btn_back{ 
    margin-left: 8px;
    display: inline; 
    border: none; 
    background-color: rgb(236, 234, 234);
    cursor: pointer;
} 

#btn_back_img{ 
    width: 30px; 
    display: inline-block;
    vertical-align: middle; 
    height: 30px;   
}
#back_text{   
    display: inline;
    margin-top: -5px;
} 

.alert{
  top: 60px;
    margin: auto;
    padding: 20px;
    width: 50%;
    background-color: #04AA6D;
    color: white;
    text-align: center;
}

.alertCloseBtn{
  position: relative;
  bottom: 12px;
  border:1px solid white ;
  padding: 2px 5px 2px 5px;
}
.imgcontainer {
  margin-top:5px;
  position: absolute;
  left: 0;
  max-width: calc(425px/var(--size-divisor));
  display: flex;
  width: 30%;
  right: 0;
  justify-content: center;
}